<!-- Portfolio Section
================================================== -->
<section id="portfolio" *ngFor="let pr of projects">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Portfolio</h5>
            <h1>{{pr?.title}}</h1>
            <p class="lead">{{pr?.description}}</p>
        </div>
    </div>
    <!-- /section-intro-->

    <div class="row portfolio-content" *ngFor="let proj of main_projects">
        <div class="col-twelve">
            <!-- portfolio-wrapper -->
            <div id="folio-wrapper" class="block-1-2 block-mob-full stack">
                <div class="bgrid folio-item" style="left: 25%; margin-top: -15px; margin-left: -15px; margin-bottom: 20px;">
                    <div class="item-wrap">
                        <img src="../../assets/images/portfolio/liberty.jpg" alt="Liberty">
                        <a href="/projects" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">{{proj?.name_project}}</h3>
                                    <span class="folio-types">{{proj?.desc_proj}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /folio-item -->
            </div>
        </div>
        <!-- /folio-item -->

        <!-- modal popups - begin
                ============================================================= -->
        <div id="modal-01" class="popup-modal slider mfp-hide">
            <div class="media">
                <img src="../../assets/images/portfolio/modals/m-liberty.jpg" alt="" />
            </div>
            <div class="description-box">
                <h4>{{proj?.name_project}}</h4>
                <p>{{proj?.description}}</p>
                <div class="categories">{{proj?.desc_proj}}</div>
            </div>
            <div class="link-box">
                <a href="#">Details</a>
                <a href="#" class="popup-modal-dismiss">Close</a>
            </div>
        </div>
    </div>
    <!-- modal popups - end
          ============================================================= -->
    <!-- /portfolio-content -->
</section>
<!-- /portfolio -->
