<!-- services Section
   ================================================== -->
<section id="services" *ngFor="let s of services">
    <div class="overlay"></div>
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Services</h5>
            <h1>{{s?.title}}</h1>
            <p class="lead">{{s?.short_desc}}</p>
        </div>
    </div>
    <!-- /section-intro -->

    <!-- Add service owl-slider -->
    <!-- <div id="owl-slider" class="owl-carousel services-list"> -->

    <div class="row services-content" *ngFor="let info of service_infos">
        <div class="service" style="color: white;">
            <!-- change style white !! -->
            <img src="{{info?.imageName}}" alt="Service" width="54px" height="54px" style="background-color: white;">
            <div class="service-content">
                <h3 style="color: white;">{{info?.title}}</h3>
                <p style="color: white;" class="desc">{{info?.description}}</p>
            </div>
        </div>
        <!-- /service -->
    </div>
    <!-- /services-content -->
</section>
<!-- /services -->
