<link rel="stylesheet" href="./assets/css/base.css">

<!-- header
    ================================================== -->
<header>
    <div class="row">
        <div class="top-bar">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
            <div class="logo">
                <a href="/">Portfolio</a>
            </div>
            <nav id="main-nav-wrap">
                <ul class="main-navigation">
                    <li><a class="smoothscroll" href="/" title="">To portfolio</a></li>
                </ul>
            </nav>
        </div>
        <!-- /top-bar -->
    </div>
    <!-- /row -->
</header>
<!-- /header -->
