<!-- contact
================================================== -->
<section id="contact" *ngFor="let me of contacts_me">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Contact</h5>
            <h1>{{me?.title}}</h1>
            <p class="lead">{{me?.description}}</p>
        </div>
    </div>
    <!-- /section-intro -->

    <div class="row contact-form">
        <div class="col-twelve">
            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
                <fieldset>
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="{{me?.name}}" minlength="2" required="">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="{{me?.email}}" required="">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="{{me?.subject}}">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required="" value="{{me?.message}}"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="submitform">Submit</button>
                        <div id="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">
            </div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>
        </div>
        <!-- /col-twelve -->
    </div>
    <!-- /contact-form -->

    <div class="row contact-info">
        <div class="col-four tab-full" *ngFor="let info of contacts_info">
            <div class="icon">
                <img src="{{info?.imageName}}" alt="" width="42px" height="42px" style="background-color: white;">
            </div>
            <h5>{{info?.title}}</h5>
            <p>{{info?.short_desc}}</p>
        </div>
    </div>
    <!-- /contact-info -->
</section>
<!-- /contact -->
