<div class="offset">
</div>

<header>
    <app-header></app-header>
</header>

<div>
    <div class="light-wrapper" *ngFor="let p of projects">
        <div class="container inner">
            <div class="basic-slider">
                <div class="item"><img src="{{p?.imageName}}" style="margin-top: 80px;" alt="" /> </div>
            </div>
            <!-- /.basic-slider -->

            <div class="divide30"></div>
            <h2 class="post-title">{{p?.title}}</h2>
            <div class="meta"><span class="date">{{p?.date_project | date: 'dd MMM yyyy'}}</span> / <span>{{p?.desc_proj}}</span></div>
            <a href="{{p?.description}}" style="text-decoration: none;">GitHub Project</a>
        </div>
    </div>
</div>

<div class="full-width mt-xl-5 mt-sm-5 mt-5 mt-lg-5">
    <app-footer></app-footer>
</div>