<div class="offset"></div>
<div class="light-wrapper">
    <div class="container inner">
        <div class="basic-slider">
            <div class="item"><img src="../../assets/images/portfolio/bs1.jpg" alt="" /> </div>
            <div class="item"><img src="../../assets/images/portfolio/bs2.jpg" alt="" /> </div>
            <div class="item"><img src="../../assets/images/portfolio/bs3.jpg" alt="" /> </div>
        </div>
        <!-- /.basic-slider -->

        <div class="divide30"></div>
        <h2 class="post-title">Fermentum Purus Ligula</h2>
        <div class="meta"><span class="date">14 Aug 2015</span><span>Motion Video</span><span>Client Name</span></div>
        <p>Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus
            mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <!-- /.container -->
</div>
<!-- /.light-wrapper -->
<div class="dark-wrapper">
    <div class="container inner2 navigation">
        <a href="#" class="btn pull-left" title="Back">Back to Portfolio</a>
        <a href="#" class="btn pull-right" title="Next">Next Post</a>
        <a href="#" class="btn pull-right" title="Previous">Prev Post</a>
    </div>
    <!-- /.container -->
</div>