<!-- about section
================================================== -->
<section id="about" *ngFor="let a of abouts">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>About</h5>
            <h1>{{a?.title}}</h1>
            <div class="intro-info">
                <img src="../../assets/images/profile-pic.jpg" alt="Profile Picture">
                <p class="lead">{{a?.description}}</p>
            </div>
        </div>
    </div>
    <!-- /section-intro -->

    <div class="row about-content">
        <div class="col-six tab-full">
            <h3>Profile</h3>
            <p>{{a?.profile_desc}}</p>
            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>{{a?.fullName}}</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>{{a?.birth_date | date: 'MMM dd, yyyy'}}</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>{{a?.job}}</span>
                </li>
                <li>
                    <strong>Website:</strong>
                    <a href="{{a?.website}}">Facebook</a>
                </li>
                <li>
                    <strong>Email:</strong>
                    <a href="mailto: {{a?.email}}">Email</a>
                </li>
            </ul>
            <!-- /info-list -->
        </div>

        <div class="col-six tab-full">
            <h3>Skills</h3>
            <p>{{a?.skills_desc}}</p>
            <ul class="skill-bars" *ngFor="let l of languages">
                <li>
                    <div class="progress percent{{l?.raiting}}"></div>
                    <strong>{{l?.title}}</strong>
                </li>
            </ul>
            <!-- /skill-bars -->
        </div>
    </div>

    <div class="row button-section">
        <div class="col-twelve">
            <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
            <a href="#" title="Download CV" class="button button-primary">Download CV</a>
        </div>
    </div>
</section>
<!-- /process-->
