/* You can add global styles to this file, and also import other style files */


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    background: white;
    font-family: "lora-regular", serif;
    font-size: 1.7rem;
    line-height: 3rem;
    color: #6e6e6e;
}


/**
 * ===================================================================
 * 13. resume
 *
 * -------------------------------------------------------------------
 */

#resume .resume-header h2 {
    color: #FF0077;
}

#resume .resume-header {
    text-align: center;
}

#resume .resume-timeline {
    max-width: 980px;
}

#resume .timeline-wrap {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}

#resume .timeline-wrap::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 35%;
    top: 0;
}

#resume .timeline-block {
    position: relative;
    padding-top: 1.5rem;
}

#resume .timeline-ico {
    height: 4.8rem;
    width: 4.8rem;
    line-height: 4.8rem;
    background: #313131;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 35%;
    top: .9rem;
    margin-left: -2.4rem;
}

#resume .timeline-ico i {
    position: relative;
    left: .05rem;
    top: .2rem;
}

#resume .timeline-header {
    float: left;
    width: 35%;
    padding-right: 90px;
    text-align: right;
}

#resume .timeline-header h3 {
    margin-bottom: 0;
}

#resume .timeline-header p {
    font-family: "poppins-regular", sans-serif;
    font-size: 1.6rem;
    color: #888888;
}

#resume .timeline-content {
    margin-left: 35%;
    padding-left: 60px;
}

#resume .timeline-content h4 {
    position: relative;
    padding-bottom: 1.8rem;
}

#resume .timeline-content h4::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    bottom: 0;
}

#resume .timeline-content p {
    font-family: "lora-regular", serif;
    font-size: 1.7rem;
    line-height: 3rem;
    color: #6e6e6e;
}