<link rel="stylesheet" href="./assets/css/base.css">

<!-- header
    ================================================== -->
<header>
    <div class="row">
        <div class="top-bar">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
            <div class="logo">
                <a href="/">Portfolio</a>
            </div>
            <nav id="main-nav-wrap">
                <ul class="main-navigation">
                    <li><a class="smoothscroll" href="#intro" title="">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="">About</a></li>
                    <li><a class="smoothscroll" href="#resume" title="">Resume</a></li>
                    <li><a class="smoothscroll" href="#portfolio" title="">Portfolio</a></li>
                    <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link" target="_blank" [routerLink]="['/projects']">Projects</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /top-bar -->
    </div>
    <!-- /row -->
</header>
<!-- /header -->
