@import url("../../assets/css/base.css");
@import url("../../assets/css/main.css");

/**
 * ===================================================================
 * 18. footer
 *
 * -------------------------------------------------------------------
 */

footer {
    background-color: #151515;
    padding-bottom: 3rem;
    font-size: 1.4rem;
    font-family: "poppins-regular", sans-serif;
}

footer a,
footer a:visited {
    color: #FFFFFF;
}

footer a:hover,
footer a:focus {
    color: #FF0077;
}

footer .row {
    max-width: 900px;
}

footer .social {
    text-align: right;
}

footer .footer-social {
    display: inline-block;
    font-size: 2.1rem;
    margin: 0;
    padding: 0;
    position: relative;
    top: -.3rem;
}

footer .footer-social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

footer .footer-social li a {
    color: #FFFFFF;
}

footer .copyright span {
    display: inline-block;
}

footer .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(255, 255, 255, 0.1);
}

footer .copyright span:last-child::after {
    display: none;
}


/**
* responsive:
* footer
* -------------------------------------------------------------------
*/

@media only screen and (max-width:768px) {
    footer {
        text-align: center;
    }
    footer .social {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    footer .copyright span {
        display: block;
    }
    footer .copyright span::after {
        display: none;
    }
}


/**
* go to top
* -------------------------------------------------------------------
*/

#go-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 600;
    display: none;
}

#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 6.6rem;
    width: 6rem;
    line-height: 6.6rem;
    text-align: center;
    background: #cc005f;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#go-top a i {
    font-size: 1.6rem;
    line-height: inherit;
}

#go-top a:hover {
    background: #000000;
}